/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* ------------------------------Navigation bar --------------------*/

.navbar-default {
	 border:none;
 	 background-color: transparent;

   /* display: inline-block;*/
    float: none;
    font-family:leno, "Book Antiqua", Palatino, serif;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    top: 44px;
    

   


   




}

/*.navbar .navbar-collapse {
    text-align: center;
}*/


.navbar .navbar-collapse {

    text-align: right;
}



a:link {
    color: #ac2946;
}

/* visited link */
a:visited {
   color: #ac2946;
}



/* selected link */
a:active {
     color: blue;
}

.navbar-default .navbar-nav > li > a  {

	/*color: #ac2946;*/
	color: black;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {

	/*color: #ac2946;*/
	color: #ac2946;
	font-weight: bold;
	background-color: transparent;


	
	/* background: rgba(0,0,0,0.0);*/

}


.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {

	color: #ac2946;
	
		
}
 /*underline*/
.navbar-default .navbar-nav > li > a:hover::after {
  content: '';
  position: absolute;
  left: 10%;
  display: inline-block;
  height: 1em;
  width: 80%;
  border-bottom: 2px solid #ac2946;
  margin-top: 10px;
  float: right;
}



@media only screen and (max-width: 766px)
 {

 	.navbar-default {
	border:none;
    position: absolute;
    top: 44px;
    right: -27px;
    


}
	
.navbar-collapse{
  left:200px !important;
  position:relative;

}


	.collapsing, .in {

		background-color: rgba(255, 255, 255, 0.9);
		
	}

	.collapsing ul li a, .in ul li a {

		color: #555!important;

		

	}

	.collapsing ul li a:hover, .in ul li a:hover {

		color: #ac2946!important;


	}
}





/* ------------------------------End Navigation bar --------------------*/



/* ------------------------------top header index  --------------------*/




 #pagecontainer {

	min-height:100%;
 
  /*background: url(/images/indexbackground4.png)  no-repeat center center; */
    position:relative;
    overflow:hidden;

  }





 #heroimagediv { 
  	background: url(/images/back1.jpg)  no-repeat center center;
	width: 100%;
	height: 100vh;

	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position:relative;
  	

    display: flex;
  	align-items: center;
  	justify-content: center;

  	margin-bottom: 100px;



 }

 @media only screen and (max-width: 766px)
 {

 	#heroimagediv { 
  	background: url(/images/back1.jpg)  no-repeat center center;
	width: 100%;
	height: 800px;

	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position:relative;
  	

    display: flex;
  	align-items: center;
  	justify-content: center;



 	}
 }



.headerLine:after {
content: "";
position: absolute;
z-index: 1;
pointer-events: none;
top: 0;
left: 0;
width: 100%;
/* height: 240px; */
/* background: url(../images/sliderL.png) center center no-repeat; */
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
border-bottom: 200px solid transparent;
border-right: 3000px solid white;
border-top: 60px solid white;

}



@media only screen and (max-width:1200px)
 {

	.headerLine:after {
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	top: 0;
	left: 0;
	width: 100%;
	/* height: 240px; */
	/* background: url(../images/sliderL.png) center center no-repeat; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-bottom: 300px solid transparent;
	border-right: 3000px solid white;
	border-top: 90px solid white;
	}
}


 .herotext h1 {

 	text-align: center;
  	font-family:quest, "Book Antiqua", Palatino, serif;
	font-size: 75px;
	/*color: #CCCC99;*/
	color: #ffffff;
	padding-bottom: 50px;
   /* border-bottom: #FFFFFF 1px solid;*/
	font-weight: bold;
		
 }

  .herotext h3 {
  	margin-top: 20px;
  	font-family:quest, "Book Antiqua", Palatino, serif;
 	text-align: center;
  	font-size: 30px;
	color: white;
	
	/*float: right;*/
	font-weight:400;
	
		
 }

.menudiv {
	position: absolute;
    top: 0px;
    right: 325px;

    height: 109px;
	width: 100%;
	z-index: 1;

	

	/*background-color: rgba(79, 57, 14, 0.6);*/


}

.logo {

	position: absolute;
	top: 14px;
	right: 20px;
	z-index: 2;
}







/* ------------------------------End top header index --------------------*/


/* ------------------------------page layout --------------------*/


/* #headerimage { 
  	background: url(/images/backgroundcontact.jpg)  no-repeat center center;
	width: 100%;
	height: 200px;

	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position:relative;
  	

    display: flex;
  	align-items: center;
  	justify-content: center;
 }*/






 #pagelayout .menudiv {
	position: absolute;
    top: 0px;
    right: 325px;

    
	width: 100%;
	z-index: 1;
	

	background-color: rgba(79, 57, 14, 0);


}

.contacterrors {
	font-family:albori, "Book Antiqua", Palatino, serif;
	font-size: 20px;

	background-color: lightgrey;
	line-height: 30px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	min-height: 50px;
	border:1px solid #741618;
	padding:10px 10px 10px 10px;
	margin-top: 20px;
	margin-bottom: 20px;
 	text-align: center;
  	width: 60%;
  	color: #741618;
  	font-weight: bold;

}



/* ------------------------------end page layout --------------------*/



/* ------------------------------rotating gear --------------------*/

 #gear {

 	
  	text-align: center;
  	

 	
 }


#img1 {

	position: relative;
	top:-54px;
	right:365px;
}

/* ------------------------------end rotating gear --------------------*/



/* ------------------------------fonts --------------------*/




/* ------------------------------end fonts --------------------*/

@font-face {

    font-family: 'bernie';
    src: url('/fonts/BERNHC.eot');
    src: url('/fonts/BERNHC.eot?#iefix')
             format('embedded-opentype'),
         url('/fonts/BERNHC.woff') format('woff'),
         url('/fonts/BERNHC.ttf') format('truetype');
}

@font-face {

    font-family: 'leno';
    src: url('/fonts/lvnm.eot');
    src: url('/fonts/lvnm.eot?#iefix')
             format('embedded-opentype'),
         url('/fonts/lvnm.woff') format('woff'),
         url('/fonts/lvnm.ttf') format('truetype');
}

@font-face {

    font-family: 'albori';
    src: url('/fonts/Albori Sans Light.eot');
    src: url('/fonts/Albori Sans Light.eot?#iefix')
             format('embedded-opentype'),
         url('/fonts/Albori Sans Light.woff') format('woff'),
         url('/fonts/Albori Sans Light.ttf') format('truetype');
}

@font-face {

    font-family: 'quest';
    src: url('/fonts/quest.eot');
    src: url('/fonts/quest.eot?#iefix')
             format('embedded-opentype'),
         url('/fonts/quest.woff') format('woff'),
         url('/fonts/quest.ttf') format('truetype');
}

/*font-family:pagedistrict, "Book Antiqua", Palatino, serif;*/

/* ------------------------------buttons --------------------*/

.btn-primary {

}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active, {
	
} 


/* ------------------------------end buttons --------------------*/




/* ------------------------------ABOUT/index --------------------*/

	#about h1 {

		font-family:bernie, "Book Antiqua", Palatino, serif;
		text-align: center;
		font-size: 35px;
		color: #ac2946;

	}

	#about h2,	p,	h3 {

		
		
	}

	#about h2 {

	text-align: left;
  	font-family:quest, "Book Antiqua", Palatino, serif;
	font-size: 45px;
	font-weight: bold;
	margin-bottom: 9px;
	color: #980f0f;
	}

	#about h3 {
		font-family:albori, "Book Antiqua", Palatino, serif;
		font-size: 25px;
		text-align: left;
		color:#353535;

	}

	h2 {
		text-align: left;
  	font-family:quest, "Book Antiqua", Palatino, serif;
	font-size: 45px;
	font-weight: bold;
	margin-bottom: 9px;
	color: #980f0f;
	}

	h3 {

		font-family:albori, "Book Antiqua", Palatino, serif;
		font-size: 25px;
		text-align: left;
		color:#353535;
		
		
	}

	h4 {

		font-family:leno, "Book Antiqua", Palatino, serif;	
		font-size: 20px;
		line-height: 30px;
		/*color: #426419;*/
		color: #3960a3;
		font-weight: 700;
		margin:10px 0 10px 0;

		
		
	}

	#about ul li {
		font-family:albori, "Book Antiqua", Palatino, serif;	
	    padding: 10px;
	    margin-left: 35px;
	    list-style-type: disc;
	    font-size: 20px;
	    color: black;
	}

	p {
		font-family:albori, "Book Antiqua", Palatino, serif;
		font-size: 19px;
		line-height: 30px;
		/*color: #426419;*/
		color: black;

	}

	.icon_container {
		/*display: flex;
		justify-content: center;
		align-content: center;*/
		

	}

	.icon_wrapper {

		margin-top: 75px;
		margin-bottom: 75px;
		/*margin-left:20px; 
    	margin-right:20px;*/
		width: 250px;
		text-align: left;


	}

	.image_icon img {
		width: 200px;
		
	}

	.icon_descrip {


	}


	#about table {

	margin-left:auto; 
    margin-right:auto;
    margin-bottom: 50px;


	}

	#about table ul li {

		color: black;
	}


	.portrait  {

		width: 75%;	
		margin:auto;	
		padding-top: 50px;	


	}

	.portrait img {

		float: left;
		margin-right: 25px;
		margin-bottom: 25px;
		width: 300px;
		position: relative;
		top: -30px;
		

	}


	.lightbulb img  {

		width: 165px;
		margin-bottom: 50px;
		margin-top: 30px;	

			


	}



.lightbulblist {
	
	margin-top: 50px;
	
}

.lightbulblist h3 {
	
	
	
}



 .vcenter {




 }




	.left {

		height: 150px;
		color: white;

		

		 
		 
		 

  		
	}



	.right {
		
		height: 150px;

		
  	
  		

	}



.imgright {
	width: 100%; 
	text-align:right;
	 margin-right:25px
}


#content {
	margin-top: -25px;
	/*background: url('/images/pattern2.png') repeat; */
}


@media (max-width: 1000px) {
    .icon_container {
		/*display: flex;
		justify-content: center;
		align-content: center;*/
		

	}

	.icon_wrapper {

		width: 100%;
		text-align: center;
	}

	.icon_wrapper p {

		width: 250px;
		margin-right: auto;
		margin-left: auto;
	}



	
}

/* ------------------------------end Pages --------------------*/





/* ------------------------------start mywork --------------------*/



.thumbnail-container {
	width: 100%;
	
	
	display: -webkit-flex;
	display: flex;
  	flex-flow: row wrap;	
  	justify-content: center;
  	/*align-content: space-between;*/
  	margin-top: 75px;
  	margin-bottom: 175px;

}



.thumb-unit {

	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	
	width: 45%;
	min-width: 300px;
	/*padding-top: 20%;*/
	margin: 3px;
	min-height: 400px;
	
	background-color: red;
	display: block;
	position: relative;
	float: left;
	/*background: url('/images/back1.jpg') center center no-repeat;*/
	overflow: hidden;



}

@media only screen and (max-width: 766px) {

	.thumbnail-container {
		       
		
	}

	.thumb-unit {
		width: 80%;
		/*padding-top: 20%;*/
		min-height: 250px;
	}




}

.boxoverlay {


	position: absolute;
	top: 100%;
	right: 0px;
	left: 0px;
	bottom: null; 
	height: 100%;
	
    transition: 0.5s;
    background-color:rgba(116, 22, 24, 0.95);
    text-align: center;

}


.thumb-unit:hover .boxoverlay {

	position: absolute; 
	top: 0%; 
	right: 0px; 
	bottom: null; 
	left: 0px; 
	height: 100%;

	transform-origin: bottom center;
	transform: rotate(360deg);
	transition: transform 0.5s;

	
	

}



.boxoverlay strong {

	display: inline-block;
	padding-top: 60px;
	font-size: 35px;
	color: white;
	font-family:albori, "Book Antiqua", Palatino, serif;
	font-weight: 300;
}

.boxoverlay p {
	margin-top: 20px;
	color: white;
}



/* ------------------------------end mywork --------------------*/






/* ------------------------------footer --------------------*/


.foot:after {
content: "";
position: absolute;
z-index: 1;
pointer-events: none;
bottom: 150px;
left: 0;
width: 100%;

/* height: 240px; */
/* background: url(../images/sliderL.png) center center no-repeat; */
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
border-bottom:-100px solid transparent;
border-right: 2000px solid #741618;
border-top: 75px solid transparent;

}

#footer {
	margin-top: 150px;
	width: 100%;
	height: 150px;
	background-color: #741618;
	position: static;/* Updated Property */
	bottom: 0px;
	line-height: 150px;

	
	


}

#footer ul {
	
	 margin:0;
    padding:0;
    text-align:center;
     list-style:none;


}

#footer li {

	
	display:inline;
	
}

#footer li a {

	
    padding: 16px;
    text-decoration: none;
    color: white!important;

}




/* ------------------------------end footer --------------------*/







/* ------------------------------forms --------------------*/

.centerform{
	
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	max-width: 800px;
}

label {
	font-family:albori, "Book Antiqua", Palatino, serif;
	font-size: 23px;
	color: #702424;

    display:inline-block;
    text-align: left;
    width: 100%;
    margin-bottom: 25px;

    
}

input[type="text"],input[type="email"],input[type="password"] {
	font-family:albori, "Book Antiqua", Palatino, serif;
	font-size: 20px;
	float: right;
	padding: 5px;
    margin-top: -7px;
    display:inline-block; 
   
    width: 65%;
    max-width: 550px;
    height: 35px;

    background-color: lightgrey;
	border:1px solid lightgrey;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;


	

}

.block {


}



textarea {
	font-family:albori, "Book Antiqua", Palatino, serif;
	font-size: 20px;
	padding: 10px 5px 10px 5px;
    display:inline-block; 
    
    float: right;
    margin-top: -7px;
    width: 65%;
    max-width: 550px;
    height: 200px;

    background-color: lightgrey;
	border:1px solid lightgrey;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	




}

/*.btn-default{
   display:inline-block; 
   
 
  height: 40px;
  width: 100px;
  font-size: 15px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  float: right;


}

.btn-default:hover {

	background-color: #702424;
	color: white;
	

}*/



/* Radial Out */
.btn-default {
	  height: 40px;
  	width: 100px;
	display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: white;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  float: right;
  
}
.btn-default:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #702424;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.btn-default:hover, .btn-default:focus, .btn-default:active {
  color: white;
}

.btn-default:hover:before, .btn-default:focus:before, .btn-default:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

input:focus,
textarea:focus {
	border: 1px solid #702424;
	box-shadow: 0 0 5px rgba(112, 36, 36, 1);
	

-webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;



}




@media only screen and (max-width: 1200px)
 {
 	input[type="text"],input[type="email"],input[type="password"], textarea {
	
    	width: 100%; 
    	margin-top: 5px;

	}

	.btn-default{

		
	}

	
}





/* ------------------------------End forms --------------------*/



/*------------  Bootstrap overwrite --------*/

.panel-default > .panel-heading {

	margin-bottom: 20px;
	border-bottom: 1px solid #c8c8c8;

   
}

.panel-default {

	border: 1px solid #c8c8c8;
}

/*-------------  End Bootstrap overwrite ---------*/

.portimg {

	margin:50px 0 50px 0;
	border:1px solid lightgrey; 
	border-radius:15px;
	width: 90%;
	height:auto;
}